@page
@model FinalXmL.Pages.CrimeSurveysModel
@{
    ViewData["Title"] = "CrimeSurveys";
    var crimeSurveys = ViewData["crimeSurveys"];
}

<h1>Crime Survey</h1>

<h4 style="color:steelblue">Source of Data: Consumed fellow student's group service</h4>
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Resident Of</th>
            <th>Is City Safer</th>
            <th>Shift to City</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var survey in ViewBag.crimeSurveys)
        {
            <tr>
                <td>@survey.FirstName</td>
                <td>@survey.LastName</td>
                <td>@survey.CityYouLive</td>
                @if (@survey.IsSafe == true)
                {
                    <td><span class="badge badge-success">Yes</span></td>
                }
                else
                {
                    <td><span class="badge badge-danger">No</span></td>
                }
                <td>@survey.ShiftCity</td>
            </tr>
        }
    </tbody>
</table>

